<html>
  <head></head>
    <body>
      <p>
        <%= message %>
      <p>
    </body>
</html>


<head>
   <style>
   body {
     background: <%= check_background_color(message) %>;
   }
   </style>
 </head>

<form>
  <input type='text' name='guess' />
  <input type='submit' value ='Guess!' />
</form>
